* {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 20%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start,
#stop {
    font-size: 1.5rem;
}